# 忽略 Python 編譯時生成的 __pycache__ 資料夾，這些是臨時檔案，通常不需要版本控制
__pycache__/

# 忽略所有副檔名為 .exe 的可執行檔案，避免提交二進位檔案
*.exe

# 忽略名為 crawler_test__0220 的資料夾，虛擬環境資料夾，不需納入版本控制
crawler_test__0220/

# 忽略所有副檔名為 .png 的圖片檔案，可能是臨時或生成的圖檔
*.png